@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif; }

a {
  text-decoration: none; }

.container {
  max-width: 1300px;
  margin: 0 auto; }

header .container {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header .container .menu {
    display: flex;
    align-items: center; }
    header .container .menu ul {
      display: inline-block;
      font-size: 22px; }
      header .container .menu ul li {
        display: inline-block;
        margin-left: 40px; }
        header .container .menu ul li a {
          color: #002f9d; }
  header .container .login {
    display: inline-block; }
    header .container .login ul {
      display: inline-block;
      font-size: 16px;
      text-transform: uppercase; }
      header .container .login ul li {
        display: inline-block;
        margin-left: 40px; }
        header .container .login ul li a {
          color: #021f59; }

.hero .text {
  color: white;
  position: absolute;
  top: 40%;
  margin-left: 220px; }
  .hero .text h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 0.92;
    width: 342px; }
  .hero .text p {
    margin: 20px 0;
    font-size: 22px; }
    .hero .text p span {
      font-size: 60%;
      position: relative;
      bottom: 6px; }
  .hero .text button {
    background-color: #002f9d;
    width: 180px;
    height: 60px;
    font-size: 24px;
    color: white;
    font-weight: bold;
    border: none; }

.about {
  padding: 60px 0; }
  .about .container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
  .about > p {
    font-size: 16px;
    color: #757575;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center; }
  .about h1 {
    font-size: 50px;
    color: #002f9d;
    font-weight: bold;
    line-height: 0.9;
    text-align: center;
    margin: 20px; }
  .about .feature {
    overflow: hidden;
    width: 440px;
    margin: 50px 60px 0 60px; }
    .about .feature img {
      float: left;
      margin: 0 30px 30px 0; }
    .about .feature h4 {
      font-size: 24px;
      color: #021f59;
      font-weight: 100;
      margin-bottom: 7px; }
    .about .feature p {
      font-size: 18px;
      line-height: 1.1;
      color: #021f59;
      text-align: left; }

.offers {
  background-color: #002f9d; }
  .offers .container {
    max-width: fit-content;
    padding: 50px 0; }
    .offers .container p {
      font-size: 20px;
      color: white;
      line-height: 2;
      margin-left: 10px; }
    .offers .container .destination {
      display: inline-block;
      margin: 10px;
      background-color: white; }
      .offers .container .destination h4 {
        font-size: 24px;
        color: #021f59;
        font-weight: bold;
        margin: 10px 0 0 30px; }
      .offers .container .destination p {
        font-size: 18px;
        line-height: 1.1;
        color: #021f59;
        text-align: left;
        margin-left: 30px; }
      .offers .container .destination a {
        display: block;
        font-size: 24px;
        color: #002f9d;
        font-weight: bold;
        line-height: 0.833;
        margin: 30px; }

.inspiration h1 {
  font-size: 32px;
  color: #002f9d;
  text-align: center;
  line-height: 130px;
  font-weight: 100; }
.inspiration a {
  font-weight: bold;
  color: #002f9d;
  text-decoration-line: underline;
  text-decoration-style: dashed; }

/*# sourceMappingURL=main.css.map */
