@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif; }

a {
  text-decoration: none; }

.container {
  max-width: 1300px;
  margin: 0 auto; }

header .container {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header .container .menu {
    display: flex;
    align-items: center; }
    header .container .menu ul {
      display: inline-block;
      font-size: 22px; }
      header .container .menu ul li {
        display: inline-block;
        margin-left: 40px; }
        header .container .menu ul li a {
          color: #002f9d; }
  header .container .login {
    display: inline-block; }
    header .container .login ul {
      display: inline-block;
      font-size: 16px;
      text-transform: uppercase; }
      header .container .login ul li {
        display: inline-block;
        margin-left: 40px; }
        header .container .login ul li a {
          color: #021f59; }

.hero .text {
  color: white;
  position: absolute;
  top: 40%;
  margin-left: 220px; }
  .hero .text h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 0.92;
    width: 342px; }
  .hero .text p {
    margin: 20px 0;
    font-size: 22px; }
    .hero .text p span {
      font-size: 60%;
      position: relative;
      bottom: 6px; }
  .hero .text button {
    background-color: #002f9d;
    width: 180px;
    height: 60px;
    font-size: 24px;
    color: white;
    font-weight: bold;
    border: none; }

.about {
  padding: 60px 0; }
  .about .container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
  .about > p {
    font-size: 16px;
    color: #757575;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center; }
  .about h1 {
    font-size: 50px;
    color: #002f9d;
    font-weight: bold;
    line-height: 0.9;
    text-align: center;
    margin: 20px; }
  .about .feature {
    overflow: hidden;
    width: 440px;
    margin: 50px 60px 0 60px; }
    .about .feature img {
      float: left;
      margin: 0 30px 30px 0; }
    .about .feature h4 {
      font-size: 24px;
      color: #021f59;
      font-weight: 100;
      margin-bottom: 7px; }
    .about .feature p {
      font-size: 18px;
      line-height: 1.1;
      color: #021f59;
      text-align: left; }

.offers {
  background-color: #002f9d; }
  .offers .container {
    max-width: fit-content;
    padding: 50px 0; }
    .offers .container p {
      font-size: 20px;
      color: white;
      line-height: 2;
      margin-left: 10px; }
    .offers .container .destination {
      display: inline-block;
      margin: 10px;
      background-color: white; }
      .offers .container .destination h4 {
        font-size: 24px;
        color: #021f59;
        font-weight: bold;
        margin: 10px 0 0 30px; }
      .offers .container .destination p {
        font-size: 18px;
        line-height: 1.1;
        color: #021f59;
        text-align: left;
        margin-left: 30px; }
      .offers .container .destination a {
        display: block;
        font-size: 24px;
        color: #002f9d;
        font-weight: bold;
        line-height: 0.833;
        margin: 30px; }

.inspiration h1 {
  font-size: 32px;
  color: #002f9d;
  text-align: center;
  line-height: 130px;
  font-weight: 100; }
.inspiration a {
  font-weight: bold;
  color: #002f9d;
  text-decoration-line: underline;
  text-decoration-style: dashed; }

.classes {
  padding-top: 80px;
  background-color: #021f59;
  height: 800px;
  text-align: center; }
  .classes h4 {
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 200; }
  .classes h1 {
    font-size: 50px;
    color: #38bdff;
    font-weight: bold; }
  .classes p {
    font-size: 20px;
    color: white;
    line-height: 1.2;
    width: 615px;
    margin: 30px auto; }

.subscribe {
  background-color: #002f9d; }
  .subscribe .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 130px; }
    .subscribe .container .form, .subscribe .container .follow {
      display: inline-block; }
      .subscribe .container .form p, .subscribe .container .follow p {
        display: inline-block;
        font-size: 24px;
        color: white;
        line-height: 0.833;
        margin-right: 20px; }
      .subscribe .container .form form, .subscribe .container .follow form {
        position: relative;
        display: inline-block;
        margin-left: 90px;
        width: 400px;
        border-bottom: 1px solid white;
        padding-bottom: 15px; }
        .subscribe .container .form form input, .subscribe .container .follow form input {
          background-color: #002f9d;
          border: none;
          color: rgba(255, 255, 255, 0.231);
          font-size: 18px;
          width: 300px; }
        .subscribe .container .form form button, .subscribe .container .follow form button {
          font-size: 20px;
          background-color: #002f9d;
          border: none;
          cursor: pointer;
          color: white;
          position: absolute;
          right: 0; }
    .subscribe .container .follow {
      display: flex;
      width: fit-content;
      align-items: center; }
      .subscribe .container .follow img {
        margin: 5px; }

.Enter_your_email_address {
  font-family: "OpenSans";
  color: rgba(255, 255, 255, 0.231);
  line-height: 1.333;
  text-align: left;
  -moz-transform: matrix(1.00006, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1.00006, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1.00006, 0, 0, 1, 0, 0);
  position: absolute;
  left: 415.164px;
  top: 2717.034px;
  width: 179.36px;
  height: 16.712px;
  z-index: 18; }

/*# sourceMappingURL=main.css.map */
