@media only screen and (max-width: 768px){
    .container {
        max-width: 728px;
        margin: 0 20px;
    }

    .hero {
        height: 80%;
        .text {
            margin-left: 20px;
        }
    }

    .about{
        h1 {
            font-size: 32px;
        }
        .feature {
            margin: 25px 0 10px 0;
            width: 50%;
            p {
                font-size: 16px;
            }
        }
    }

    .offers {
        .destination.london {
            @include background('../assets/londonT.jpg');
            width: 350px;
            padding-top: 224px;
            margin: 5px;
        }
        .destination.hamburg {
            @include background('../assets/hamburgT.jpg');
            width: 350px;
            padding-top: 224px;
            margin: 5px;
        }
        .destination.alicante {
            @include background('../assets/alicanteT.jpg');
            width: 350px;
            padding-top: 224px;
            margin: 5px;
        }
        .destination.milano {
            @include background('../assets/milanoT.jpg');
            width: 350px;
            padding-top: 224px;
            margin: 5px;
        }
    }
    
    .classes {
        height: 640px;
        h1 {
            font-size: 32px;
        }
        .view-all {
            max-width: 728px;
            margin-top: 0;
        }
        .tab-container {
            max-width: 728px;
            .tab {
                img {
                    margin: 0;
                    padding: 0;
                }
                .checked {
                    padding: 0 0 0 40px;
                }
            }
        }
    }

    .subscribe {
        height: 283px;
        .container {
            display: block;
            .form {
                display: block;
                p {
                    display: block;
                    text-align: center;
                    padding: 40px;
                }
                form {
                    border: none;
                    display: block;
                    width: 560px;
                    input {
                        width: 560px;
                        border-bottom: 2px solid white;
                        padding-bottom: 10px;
                    }
                    button {
                        position: static;
                        display: block;
                        margin: 45px auto;
                        background-color: rgb(255, 255, 255);
                        width: 301px;
                        height: 50px;
                        color: $main-color;
                        font-weight: bold;
                    }
                }
            }
            .follow {
                display: block;
                width: 100%;
                p {
                    color: $main-color;
                    display: block;
                    margin: 0;
                }
                img {
                    color: $main-color;
                }
            }
        }
    }
    .terms {
        .container {
            height: 340px;
            display: block;
            .payment {
                display: block;
                width: fit-content;
                margin: 0 auto;
                padding-top: 200px;
            }
            .site-map {
                display: block;
                width: fit-content;
                margin: 0 auto;
            }
        }
    }
    .bottom {
        height: 20px;
    }
}
