@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$font: 'Open Sans', sans-serif;
$main-color: rgb(0, 47, 157);
$text-color: rgb(2, 31, 89);

@mixin text {
    font-size: 18px;
    line-height: 1.1;
    color: $text-color;
    text-align: left;
}

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

* {
    margin: 0;
    padding: 0;
    font-family: $font;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

// -------------------header----------
header {
    .container {
        height: 110px;
        @include flex;
        .menu {
            display: flex;
            align-items: center;
            ul {
                display: inline-block;
                font-size: 22px;
                li {
                    display: inline-block;
                    margin-left: 40px;
                    a {
                        color: $main-color;
                    }
                }
            }
        }
        .login {
            display: inline-block;
            ul {
                display: inline-block;
                font-size: 16px;
                text-transform: uppercase;
                li {
                    display: inline-block;
                    margin-left: 40px;
                    a {
                        color: $text-color;
                    }
                }

            }
        }
    }
}

// ----------------hero section----------
.hero {
    overflow: hidden;
    .text {
        color: rgb(255, 255, 255);
        position: absolute;
        top: 40%;
        margin-left: 220px;
        h1 {
            font-size: 50px;
            font-weight: bold;
            line-height: 0.92;
            width: 342px;
        }
        p {
            margin: 20px 0;
            font-size: 22px;
            span {
                font-size: 60%;
                position: relative;
                bottom: 6px;
            }
        }
        button {
            background-color: $main-color;
            width: 180px;
            height: 60px;
            font-size: 24px;
            color: rgb(255, 255, 255);
            font-weight: bold;
            border: none;
        }
    }
}

// ---------------about section----------
.about {
    padding: 60px 0;
    .container {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    & > p {
        font-size: 16px;
        color: rgb(117, 117, 117);
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
    }
    h1 {
        font-size: 50px;
        color: $main-color;
        font-weight: bold;
        line-height: 0.9;
        text-align: center;
        margin: 20px;
    }
    .feature {
        overflow: hidden;
        width: 440px;
        margin: 50px 60px 0 60px;
        img {
            float: left;
            margin: 0 30px 30px 0;
        }
        h4 {
            font-size: 24px;
            color: $text-color;
            font-weight: 100;
            margin-bottom: 7px;
        }
        p {
            @include text;
        }
    }
}

// ---------------offers section----------
.offers {
    background-color: $main-color;
    .container {
        max-width: fit-content;
        padding: 50px 0;
        p {
            font-size: 20px;
            color: rgb(255, 255, 255);
            line-height: 2;
            margin-left: 10px;
        }
        .destination {
            display: inline-block;
            margin: 10px;
            background-color: rgb(255, 255, 255);
            h4 {
                font-size: 24px;
                color: $text-color;
                font-weight: bold;
                margin: 10px 0 0 30px;
            }
            p {
                @include text;
                margin-left: 30px;
            }
            a {
                display: block;
                font-size: 24px;
                color: $main-color;
                font-weight: bold;
                line-height: 0.833;
                margin: 30px;
            }
        }
    }
}

.inspiration {
    h1 {
        font-size: 32px;
        color: $main-color;
        text-align: center;    
        line-height: 130px;
        font-weight: 100;
    } 
    a {
        font-weight: bold;
        color: $main-color;
        text-decoration-line: underline;
        text-decoration-style: dashed;
    }
}

// --------------classes section----------
.classes {
    padding-top: 80px;
    background-color: $text-color;
    height: 780px;
    text-align: center;
    h4 {
        font-size: 16px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.2;
        font-weight: 200;
    }
    h1 {
        font-size: 50px;
        color: rgb(56, 189, 255);
        font-weight: bold;
    }
    p {
        font-size: 20px;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        width: 615px;
        margin: 30px auto;
    }
    .view-all {
        color: rgb(56, 189, 255);
        font-size: 20px;
        width: 1021px;
        text-align: right;
        display: inline-block;
        margin: 40px auto 20px auto;
        text-decoration-line: underline;
        text-decoration-style: dashed;
        cursor: pointer;
    }
    //-----------tab menu-----------
    .tab-container {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1),0px 2px 30px 0px rgba(0, 0, 0, 0.15);
        width: 1021px;
        margin: 0 auto;
        .tab-menu ul {
            width: 100%;
            li {
                width: 33.33%;
                list-style-type: none;
                display: inline-block;
                margin: 0;
                border-right: 1px solid rgba(30, 30, 30, 0.199);
                box-sizing: border-box;
                a {
                    font-size: 32px;
                    width: 100%;
                    line-height: 70px;
                    display: inline-block;
                    color: rgba(31, 31, 31, 0.502);
                    background-color: rgb(240, 240, 240);
                    border-top: 6px solid rgb(240, 240, 240);
                    &.active-a {
                        background-color: white;
                        color: $main-color;
                        border-top: 6px solid rgb(56, 189, 255);
                        box-sizing: border-box;
                        font-weight: bold;
                    }
                }
            }
        }
        .tab {
            text-align: left;
            display: none;
            padding: 35px;
            justify-content: center;
            img {
                padding: 0 80px 0 20px;
                margin-bottom: -40px;
            }
            .checked {
                display: inline-block;
                padding: 0 30px 40px 70px;
                list-style-image: url('../assets/v.png');
                li {
                    font-size: 20px;
                    color: $text-color;
                    line-height: 1.2;
                    padding: 10px;
                }
            }
            .disabled {
                @extend .checked;
                list-style-image: url('../assets/x.png');
                li {
                    color: rgba(3, 19, 38, 0.302);
                    padding: 7px;
                }
            }
        }
        .tab-active {
            display: block;
        }
    }
} 


// --------------footer section----------
.subscribe {
    background-color: $main-color;
    .container {
        @include flex;
        height: 130px;
        .form {
            display: inline-block;
            p {
                display: inline-block;
                font-size: 24px;
                color: rgb(255, 255, 255);
                line-height: 0.833;
                margin-right: 20px;
            }
            form {
                position: relative;
                display: inline-block;
                margin-left: 90px;
                width: 400px;
                border-bottom: 1px solid white;
                padding-bottom: 15px;
                input {
                    background-color: $main-color;
                    border: none;
                    color: rgba(255, 255, 255, 0.231);
                    font-size: 18px;
                    width: 300px;
                }
                button {
                    font-size: 20px;
                    background-color: $main-color;
                    border: none;
                    cursor: pointer;
                    color: white;
                    position: absolute;
                    right: 0;
                }
            }
        }
        .follow {
            @extend .form;
            display: flex;
            width: fit-content;
            align-items: center;
            img {
                margin: 5px;
            }
        }
    }
}

.terms {
    .container {
        @include flex;
        height: 115px; 
        .payment {
            @include flex;
            img {
                margin: 15px;
            }
        }
        .site-map {
            display: inline-block;
            ul {
                list-style-type: none;
                li {
                    display: inline-block;
                    margin: 10px;
                    a {
                        font-size: 16px;
                        color: rgb(102, 102, 102);
                        line-height: 1.25;
                    }
                }
            }
        }
    }
}
 
.bottom {
    background-color: rgb(56, 189, 255);
    height: 10px;
}

