@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$font: 'Open Sans', sans-serif;
$main-color: rgb(0, 47, 157);

* {
    margin: 0;
    padding: 0;
    font-family: $font;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

header {
    .container {
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .menu {
            display: flex;
            align-items: center;
            ul {
                display: inline-block;
                font-size: 22px;
                li {
                    display: inline-block;
                    margin-left: 40px;
                    a {
                        color: $main-color;
                    }
                }
            }
        }
        .login {
            display: inline-block;
            ul {
                display: inline-block;
                font-size: 16px;
                text-transform: uppercase;
                li {
                    display: inline-block;
                    margin-left: 40px;
                    a {
                        color: rgb(2, 31, 89);
                    }
                }

            }
        }
    }
}

.hero {
    .text {
        color: rgb(255, 255, 255);
        position: absolute;
        top: 40%;
        margin-left: 220px;
        h1 {
            font-size: 50px;
            font-weight: bold;
            line-height: 0.92;
            width: 342px;
        }
        p {
            margin: 20px 0;
            font-size: 22px;
            span {
                font-size: 60%;
                position: relative;
                bottom: 6px;
            }
        }
        button {
            background-color: $main-color;
            width: 180px;
            height: 60px;
            font-size: 24px;
            color: rgb(255, 255, 255);
            font-weight: bold;
            border: none;
        }
    }
}